.sectionUn {
    background: linear-gradient(to left top, brown, red);
    display: flex;
    min-height: 100vh;
    font-family: cursive;
    color: blanchedalmond;
    font-style: normal;
    font-size: xxx-large;
    padding:10%;


}

.burger {
    position: relative;
    height: 500px;
}

.combo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testQ {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.testU {
    height: 15rem;

}

.testD {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.sectionDeux {
    background-color: orangered;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
    color: blanchedalmond;

}

.paraf {
    padding: 20px 10px;
}

.iframe {
    margin-top: 20px;
    padding: 20px 10px
}

.testT {
    margin-top: 20px;

}


.sectionTrois {
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: xxx-large;
    background-color: blanchedalmond;
    color: darkslategrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}


.centre {
    text-align: center;

}

/*Mode PC */
.body {
    grid-template-columns: 1fr 1fr 1fr;
    /* Trois colonnes de même taille */
}

/**Mode téléphone */
@media (max-width: 600px) {
  

    .combo {
        display:flex;
        flex-direction:column;
    
    }
}